footer {
    text-align: center;
    font-size: 2rem;
    color: #22215B;
    margin-top: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 140rem;
    margin: 2rem auto;
    background-color: none;
}