.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
    text-align: center;
    h1 {
        font-size: 4rem;
    }

    .return {
        min-width: 40rem;
        margin-top: 8rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 3rem;
      padding: 1.4rem 3.8rem;
      display: inline-block;
      border-radius: 1rem;
      transition: 0.4s;
    }
}