.shops {
    min-height: 70rem;
    max-width: 130rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    background: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    min-height: 85vh;
    h1 {
        text-align: center;
        font-size: 4rem;
        color: #FFFFFF;
        padding-top: 10rem;
    }
}


.shopItems {
    padding: 7rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    img {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        display: block;
        min-height: 18rem;
  max-width:fit-content;
  width: 100%;
  height: 100%;
  object-fit:initial ;
    }
    
}

