.btn:hover {
  background-color: #ff6262;
  color: #e6e5ff;
}

label {
  font-size: 2rem;
  margin-top: 1rem;
  color: #ffffff;
}

input,
textarea {
  min-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.err {
  transform: translate(30%);
  transition: transform ease-in 0.3s;
  font-size: 2rem;
  color: #ff5a5a;
  padding-bottom: 1rem;
}

.noErr {
  min-height: 3.4rem;
}

.disabled {
  color: gray;
  background-color: white;
}

.disabled:hover {
  color: gray;
  background-color: white;
}
