.btn:hover {
    background-color: #FF6262;
    color: #E6E5FF;
}

label {
    font-size: 2rem;
    margin-top: 1rem;
    color: #FFFFFF
}

input {
    min-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.err{
    transform: translate(30%);
  transition: transform ease-in 0.3s;
    font-size: 2rem;
    color: #FF5A5A;
    padding-bottom: 1rem;
    text-align: left;
}

.noErr{
    min-height: 3.4rem;
}