.btn:hover {
    background-color: #FF6262;
    color: #E6E5FF;
}

label {
    font-size: 2rem;
    margin-top: 1rem;
    color: #FFFFFF
}

input {
    min-width: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}